.header {
	background-color: darkblue;
	color: white;
	padding: 10px;
	text-align: center;
	margin: 20px -15px;
	border-radius: 5px;
}
.green-header {
	background-color: green;
}
.red-header {
	background-color: red;
}
.main-menu {
	border: 1px solid darkblue;
	border-radius: 5px;
	padding: 0 10px;
}
.table-header {
	background-color: #1265ea;
	color: white; 
}
.table-rows:nth-child(even)  {
	background-color: #ccc;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.btn-mini {
	padding: 0;
	width: 25px;
	height: 25px;
	margin: 3px 0;
}
.pull-right {
	float: right;
}
input, select {
	width: 100%;
	border-radius: 5px;
	border: 1px solid #666;
	padding: 5px 10px;
	height: 36px;
}
button {
	margin: 10px 0;
}
a:hover {
	text-decoration: none !important;
}